.item {
    color: rgb(141, 30, 99);;
}


.item img {
    width: 30px;
    border-radius: 30px;
}

.text {
    color: black;
    padding-left: 10px;
}

.like {
    /*padding: 5px;*/
    padding-left: 120px;
}
