.nav {
    grid-area: na;
    background-color:steelblue;
    padding: 20px;
}
.item a {
    color:white;
    text-decoration: none;
}

.item a.activeLink {
    color:steelblue;
    background-color:lightgrey;
}