.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    color: brown;
}

.dialogsItems {
    padding: 10px;
    /*color: brown;*/

}

.dialogsItems .active {
    color: blue;
}

.dialog {

}

.messages {
    padding: 10px;

}

.message {

}

